
:root{
  --primary : #7743DB;
  --secondary : #C3ACD0;
  --background : #FFFBF5;
  --backgroundSecondary : #F7EFE5
}

.app{
  font-family: "AR One Sans", sans-serif;
 .link{
   color: inherit;
   text-decoration: none;
 }
}